:root{
    --bg-color :#0b0e13;
    --main-color:#CBFE1C;
    --section-padding:40px;
    --text-primary-color:#F1F1F1;
    --transition : 0.2s;
    --secondary-color : #D1D5DC;
    --main-color-hover: linear-gradient(-45deg, #CBFE1C, #A7CC17);

}
body {
    font-family: "Chakra Petch", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: "Days one" , sans-serif;
}

.section-head .head-text{
    color: var(--main-color);
    font-size: 16px;
    position: relative;
    margin-bottom: 20px;
    font-weight: 700;
    text-shadow: 0 0 8px #CBFE1C;
}
.section-head .head-text::before,
.section-head .head-text::after{
    content: "";
    position: absolute;
    width: 70px;
    height: 5px;
    bottom: 50%;
    transform: translateY(50%);
    text-shadow: inherit;
}
.section-head .head-text::before{

    left: -80px;
    background: linear-gradient(90deg, transparent, var(--main-color));;
    text-shadow: inherit;

}
.section-head span::after{
    background: linear-gradient(90deg, var(--main-color) , transparent);;
    right: -80px;
}
.section-head h2{
    color: var(--secondary-color);
}

#games , #work {
    padding-block: var(--section-padding);
    background-color: var(--bg-color);
}

/* --------------------------------header------------------------------------ */
header{
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.85)), url(../Images/hero-bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-block: 20px;
}
header .content .txt-content h1{
    color: var(--text-primary-color);
    font-size: 30px;
    line-height: 75px;

}
header .content{
    padding-block: 42px;
}
header .content .txt-content{
    margin-bottom: 50px;
}
header .content .txt-content h1 span{
    color: var(--main-color);
}
header .content .txt-content p{
    color: var(--secondary-color);
    font-size: 12px;
    line-height: 24px;
}
header .content .txt-content .buttons .start-button{
    background-color: var(--main-color);
}
header .content .txt-content .buttons .start-button:hover{
    background: var(--main-color-hover);
}

header .content .txt-content .buttons .watch-tournament{
    border: 2px solid var(--main-color);
    color: var(--main-color);
    transition: var(--transition);

}

header .content .txt-content .buttons .watch-tournament:hover{
    background-color: var(--main-color);
    color: var(--bg-color);
    transition: var(--transition);
}
header .content .figure .image-holder{
    max-width:350px;
    height: 300px;
    padding: 6px;
    background:  linear-gradient(90deg, #CBFE1C, #06DF72);
    border-radius: 20px;
}
header .content .figure .image-holder img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 14px;
}
/* --------------------------------------------header end------------------------------- */
/* ---------------------------------------------navbar---------------------------------------- */
nav{
    background-color: var(--bg-color);
    border-bottom: 1px solid #1E2939;
}

nav .logo,
nav .logo a{
    color: var(--main-color);

}

nav .nav-item{
    padding-bottom: 18px;
}

nav .nav-item .nav-link{
    color: #F1F1F1;
    padding: 7px 0;
}
nav .nav-item .nav-link.active,
nav .nav-item .nav-link:hover{
    color: var(--main-color);
}
nav .right-side{
    padding: 12px 18px;
    background-color: var(--main-color);
    font-weight: 300;
    color: #1f1f1f;
}
nav .right-side:hover{
    background: var(--main-color-hover);
}

nav .navbar-toggler:focus {
    box-shadow: none;
}

/* ---------------------------------------------navbar end---------------------------------------- */
/* ---------------------------------------------games ---------------------------------------- */

#games .carousel-inner .image-holder{
    width: 360px;
    height: 200px;
    overflow: hidden;
    border-radius: 20px;
    transition: border var(--transition) ease-out;
    margin-inline: auto;
    margin-top: 20px;
}
#games .carousel-inner .image-holder img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform var(--transition) ease-in-out;


}
#games .carousel-inner .image-holder .overlay{
    inset: 0;
    background: linear-gradient(0deg, var(--main-color) 0%, transparent 60%);
    opacity: 0;
    transition: opacity var(--transition) ease-in-out;
}

#games .carousel-inner .image-holder:hover{
    border: 3px solid var(--main-color);
}
#games .carousel-inner .image-holder:hover .overlay{
    opacity: 1;
}
#games .carousel-inner .image-holder:hover img{
    transform:scale(120%);
}
#games .carousel-inner .image-holder:hover img,
#games .carousel-inner .image-holder:hover .overlay{
    transition: all var(--transition) ease-in;
}
#games button{
    padding: 10px;
    font-size: 30px;
    border: 1px solid #28313E;
    background-color: transparent;
    color: #28313E;
    border-radius: 50%;
    transition: all var(--transition);
}
#games button:hover{
    border-color: var(--main-color);
    color: var(--main-color);
}

#games .buttons span{
    padding: 12px 18px;
    background-color: transparent;
    border: 2px solid var(--main-color);
    font-weight: 300;
    color: var(--main-color);
    transition: all var(--transition);
    width: 100%;
}
#games .buttons span:hover{
    background: var(--main-color-hover);
    color: #1f1f1f;
    transition: all var(--transition);

}

/* ---------------------------------------------games end---------------------------------------- */
/* ----------------------------------------------work------------------------------------------- */

#work .section-head div p{
    color: var(--secondary-color);
    font-size: 3px;
}
#work .section-head div p span{
    color: var(--main-color);
}

#work .row .card{
    height: 150px;
    background-color: #1A1A1A;
    transition: border var(--transition);
    position: relative;
    overflow: hidden;
}

#work .row .card:not(.image-card)::after,
#work .row .card:not(.image-card)::before{
    content: "";
    position: absolute;
    transition: all var(--transition);
}
#work .row .card:not(.image-card)::after{
    right: -20px;
    bottom: -20px;
    border-left: 20px solid transparent;
    border-bottom: 20px solid var(--main-color);
}
#work .row .card:not(.image-card)::before{
    left: -20px;
    top: -20px;
    border-right: 20px solid transparent;
    border-top: 20px solid var(--main-color);
}
#work .row .card:not(.image-card):hover::after{
    right: 15px;
    bottom: 15px;
    transition: var(--transition);
}
#work .row .card:not(.image-card):hover::before{
    left: 15px;
    top: 15px;
    transition: var(--transition);
}

#work .row .card span{
    color: var(--secondary-color);
    text-shadow: 0 0 8px var(--secondary-color)

}

#work .row .card .icon{
    background-color: #1E2939;

}
#work .row .card .icon i{
    color: var(--main-color);
}


#work .row .card:not(.image-card):hover{
    border: 1px solid var(--main-color);
    transition: var(--transition);
}
#work .row .card:hover .icon{
    background-color: var(--main-color);
    transition: var(--transition);
}
#work .row .card:hover .icon i{
    color: black;
    transition: var(--transition);

}

#work .row  .image-card img{
    object-fit: cover;
    object-position: 100% 70%;
}

#work .shadow-line{
    height: 4px;
    width: 100%;
    background: #000;
    position: relative;
    margin-block: 50px;
    box-shadow: var(--main-color) 3px;
}
#work .shadow-line::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 6px;
    transform: translateY(-50%);
    
    background: linear-gradient(
        90deg,
        transparent,
        #b6ff00,
        var(--main-color),
        #b6ff00,
        transparent
    );
    filter: blur(1px);
}
#work .latest-games{
    width: 100%;
    height: 300px;
    position: relative;
    overflow-x: auto;
}

#work .latest-games::before{
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(
        ellipse at center,
        rgba(203, 254, 28 , 0.5) 0%,
        rgba(203, 254, 28 , 0.3) 25%,
        rgba(203, 254, 28 , 0.2) 40%,
        rgba(203, 254, 28 , 0.08) 60%,
        rgba(203, 254, 28 , 0.01) 70%,
        transparent 80%
    );
    filter: blur(30px);
}
#work .latest-games {
    overflow: hidden;
}

/* THIS is the moving element */

/* images */
#work .latest-games .image-holder {
    flex: 0 0 auto;
    width: 80px;
}

#work .latest-games .image-holder img {
    width: 100%;
}
swiper-container swiper-slide{
    width: fit-content;
}
/* -------------------------------------------------work ends ---------------------------------------- */